{% extends 'main.html' %}
 {% load static %} 
 {% block content %}
<main id="main-container">
  <section id="form-container">
    <img id="logo" src=" {% static 'images/beast.png' %}" />
    <div id="welcome-message">
      <h1>Welcome to DEMONCHAT</h1>
      <p>Chat Face To Face With Your Mate</p>
    </div>
    <form id='form'>
      <div class="form-field">
        <input type="text" name="room" placeholder="ENTER A ROOM NAME" style="text-transform: uppercase;"/>        
      </div>
      <div class="form-field">
        <input type="text" name="name" placeholder="Enter your Name" style="text-transform: uppercase;"/>        
      </div>
      <div class="form-field field-input-submit">
        <input id="form-field-input" type="submit" value="Join Stream"/>        
      </div>
    </form>
    <p id=" damnText">Made by <a href="https://codingmafia.herokuapp.com/">AbdullaSafi</a> </p>
  </section>
 
</main>

<script type="text/javascript">
  let form = document.getElementById('form')

  let handleSubmit = async (e) => {
   e.preventDefault()
   let room = e.target.room.value.toUpperCase()
   let name = e.target.name.value
   let response = await fetch(`/get_token?channel=${room}`)
   let data = await response.json()
   let UID = data.uid
   let token = data.token
   sessionStorage.setItem('UID', UID)
   sessionStorage.setItem('token', token)
   sessionStorage.setItem('room', room)
   sessionStorage.setItem('name', name)
   window.open('/room', '_self' )

}
  form.addEventListener('submit', handleSubmit) 
</script>
{% endblock content %}
