@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root{
    --shadow:0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}
body{
    background-color: rgb(232, 233, 239,1);
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'lora', serif;
}
#main-container{
    display: flex;
    align-items: center;
    text-align: center;
}
#logo{
    display: block;
    width: 100%;
    margin: 0 auto;
}

#form-container{
    width: 400px;
    box-shadow:var(--shaddow);
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    margin: auto;

   
}



#welcome-message{
    text-align: center;
    margin:20px ;
    margin-top: -108px;
}
#welcome-message h1{
    font-size: 31px;
}
#welcome-message p{
    font-size: 20px;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-field{
    margin: 10px;
}
.form-field label{
    font-size: 16px;
    line-height: 1.7em;
}
.form-field input{
   min-width: 228px;
   text-align: center;
   border: 1.5px solid rgb(31, 29, 34);
   border-radius:5px;
   padding: 10px;
   box-sizing: border-box;
}

.video-player>*{
    border-radius: 5px;
}

@media screen and (max-width:450px) {
    #form-container{
        width: 95%;

    }
    #welcome-message h1{
        font-size: 24px;
    }
}
@media screen and(max-width:1650px){
    .video-container{
        flex-basis: 300px;
        min-height: 200px;

    }
    
}
#form-field-input{
    font-size: 1em;
    font-weight: 700;
    border: none;
}
#form-field-input:hover{
   
    color : white;
    background-color:rgb(0, 0, 0);
    transform: scaleX(1);
    transition: ease-in .101s;
}
.username-wrapper{
    position: absolute;   
    top: 10px;
    left: 10px;
    z-index: 9999;
    background-color: rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
}


@media screen and (max-width:328px) {
    #welcome-message{
        margin-top: -94px;
    }
}


@media screen and (max-width:291px) {
    #logo{
        margin-bottom: 30px;
    }
}

.field-input-submit{
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}

@media screen and( min-width:1470px) {
    #video-streams{
        display: grid;
        grid-template-columns: 1fr 1fr;
    } 
} 
