@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

body{
    font-family: 'Kurale', serif;
}
.video-container{
    flex-basis: 500px;
    flex-grow: 1;
    max-height: 100%;
    min-height: 350px;
    border: 1px solid rgb(75, 93, 172);
    border-radius: 5px;
    margin: 2px;
    background-color: rgba(198,202,219,1);
    position: relative;
}

.video-player{
    height: 100%;
    width: 100%;
}

#controls-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 1em;
    position: fixed;
    bottom: 20px;
}
.control-icon{
    height: 20px;
    width: 20px;
    box-shadow:0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;

}

#room-name-wrapper{
    text-align: center;
    font-size: 18px;
}

#leave-btn{
    background-color: rgb(255,88,80,1);
}

.agora_video_player{
    transform: none!important;
    object-fit: contain!important;
}


#video-streams{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    /* flex-wrap: wrap; */
    height: 50vh;
    width: 50%;
    margin:0 auto;
    justify-content: center;
}

@media only screen and (max-width: 1415px) {
    #video-streams{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        width: 100%;
    } 
    .video-container{
        border: none!important;
    }
}
@media only screen and (max-width: 537px) {
    #video-streams{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(132px, 1fr));
        width: 100%;
    }
    .video-container{
        min-height: auto;
    }
}

@media only screen and (max-width: 615px) and (min-width:538px ){
    #video-streams{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))!important;
        width: 100%;
    } 
}
